    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">Dimpy Chhabra</span> <!-- {{ site.title }} -->
                        <hr class="star-light">
                        <span class="skills">Android Dev | IOT Apps Dev | Full Stack Developer<br />And perhaps a funny 'lil person</span> <!-- {{ site.skills }} -->
                    </div>
                </div>
            </div>
        </div>
    </header>